$acent: #00599B;
$acent1: steelblue;
$acent2: royalblue;

#logo {
    text-align: center;
}

#menu {
    font-size: 24px;
    font-weight: bold;
    text-align:center;
    border: 2px solid $acent1;
    background-color: $acent
}

#About {
    margin: 30px;
}

#About h6 {
    margin-bottom: 40px;
}

#res_3 {
    th {
        text-align: center;
    }
    td {
        vertical-align: middle;
    }
}


.loss {
    font-weight: bold;
    text-align: center;
    background-color: crimson;
}

.win {
    font-weight: bold;
    text-align: center;
    background-color: seagreen;
}

.postpond {
    font-weight: bold;
    text-align: center;
    background-color: khaki;
}

a {
    color: white;
}
a:hover {
    color: black;
    text-decoration: none;
}
